*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --main-color: #5ca5dc;
    --accent-color: #0a3553;
}

.nav{
    background-color: var(--main-color);
    overflow: hidden;
}

.navcontent{
    margin-left: 10px;
}

.nav a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    float: left;
    padding: 10px 20px;
    border-top: 5px solid var(--main-color);
}
.nav a:hover{
    color: var(--accent-color);
}
.nav a.active{
    border-bottom: 5px solid var(--accent-color);
}